/* Basisstijlen */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.team-member img {
    width: 250px; 
    height: auto;
}
section.hero{
    background-image: url(img/mercedes-benz.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;;
    height: 300px;;
    
}

/* Hero sectie */
.hero  {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.hero h2 {
    margin-bottom: 20px;
}

/* Over ons sectie */
.about {
    padding: 50px 0;
}

/* Diensten sectie */
.services {
    padding: 50px 0;
}

/* Instructeurs sectie */
.instructors {
    padding: 50px 0;
}

/* Contact sectie */
.contact {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.contact h2 {
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
